<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="{{path('app_landing')}}">Brand</a>
        <form class="form-inline mr-auto" target="_self">
            <div class="form-group mb-3"><label class="form-label" for="search-field"></label><input class="form-control form-control search-field" type="search" id="search-field" name="search" style="padding-right: 15px;margin-bottom: 0px;"></div>
        </form><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-primary btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;" href="{{path('app_logout')}}">Mon compte</a>
                    <a class="btn btn-primary btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;" href="{{path('app_logout')}}">Déconnexion</a>
                {% elseif app.request.pathinfo =="/register" or  app.request.pathinfo =="/login"%}
                    <a class="btn btn-primary btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;" {% if app.request.pathinfo =="/register" %} href="{{path('app_security_login')}}" {% else %} href="{{path('app_register')}}" {% endif %}>{% if app.request.pathinfo =="/register" %} Se connecter {% else %} S'inscrire {% endif %}</a>
                {% else %}
                    <a class="btn btn-primary btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;" href="{{path('app_security_login')}}">Se connecter</a>
                    <a class="btn btn-primary btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;" href="{{path('app_register')}}">S'inscrire</a>
                {% endif %}
                <a class="btn btn-primary btn-sm ms-1" role="button" style="margin-top: 10px;"><span class="badge badge-pill badge-light">2</span><i class="fa fa-shopping-cart mx-2"></i>100€<span class="caret"></span></a>
            
        </div>
    </div>
</nav>