{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div id="main-wrapper" class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="card border-0">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div class="mb-5">
                                                        <h3 class="h4 font-weight-bold text-theme" style="color: #212529;">Inscription</h3>
                                                    </div>
                                                    <h6 class="h5 mb-0" style="color: #212529;">Bienvenue !</h6>
                                                    <p class="text-muted mt-2 mb-5">Inscrivez-vous en renseignant votre mail et mot de passe ainsi qu'un pseudo sortant de votre imagination.</p>
                                                    {{ form_start(registrationForm) }}
                                                        <div class="form-group">{{ form_row(registrationForm.mail, {'label':'Adresse mail', 'attr':{'class':'form-control form-control', 'type':'email'}}) }}</div>
                                                        <div class="form-group">{{ form_row(registrationForm.username, {'label':'Pseudo', 'attr':{'class':'form-control form-control', 'type':'text'}}) }}</div>                                                        
                                                        <div class="form-group mb-5">
                                                        {{ form_row(registrationForm.plainPassword, {'label':'Mot de passe', 'attr':{'class':'form-control form-control', 'type':'password'}}) }}
                                                        </div><button class="btn btn-theme" type="submit" style="background: #212529;">S'inscrire</button>
                                                        {{ form_end(registrationForm) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-none d-lg-inline-block">
                                                <div class="account-block rounded-right">
                                                    <div class="overlay rounded-right"></div>
                                                    <div class="account-testimonial" style="padding-bottom: 137px;margin-top: 0px;padding-top: 0px;margin-bottom: 200px;">
                                                        <h4 class="text-white mb-4" style="padding-bottom: 0px;">Inscrivez-vous et profitez de nombreux avantages !</h4>
                                                        <p class="lead text-white" style="padding-bottom: 0px;padding-top: 0px;">"Un voyage de mille lieues commence toujours par un premier pas."</p>
                                                        <p>- Lao Tzu</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center text-muted mt-3 mb-0">Vous possédez déjà un compte ?&nbsp;&nbsp;<a href="register.html" class="text-primary ml-1">Connectez vous ici</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
